/* setting */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;700&family=Song+Myung&display=swap');

:root{
    --mainColor:#FFB800;
}

/* animation */
@keyframes blink {
    from{
    box-shadow: 0px 0px 150px rgba(255, 255, 255, 0.7);
    }
    to{
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.7);

    }
}
/* layout */

body{
    background-color: #12011a;
    color: #fff;
    font-family: 'Noto Serif KR', serif;
    font-weight: 400;
}
.wrap{
    width: 100%;
    max-width: 600px;
    padding:0 1.25em;
    padding-top: 3rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.close{
    display: none;
}

/* design */
button[class*="btn"]{
    border: 2px solid #FFB800;
    box-sizing: border-box;
    border-radius: 10px;
}

button[class*="btn"]:hover{
    font-weight: 700;
    background-color: var(--mainColor);
}

/* common end */

.main{
    height: 100vh;
    box-sizing: border-box;
    /* overflow: hidden; */
    text-align: center;
    
}

.main .text{
    font-size: 1.875rem;
    margin: 0.9375rem;
}

.main .title{
    max-width: 23.75rem;
    font-size: 5rem;
    margin: auto;
    font-family: 'Song Myung', serif;
    word-break: keep-all;
}
.main .title strong{
    color: var(--mainColor);
}

.crystal{
    width: 100%;
    /* background-color: #fff; */
    background-image: url(./img/bg3.jpg);
    padding-top: 95.833%;
    background-size: 100%;
    background-position: center;
    /* background-size: 37.5rem; */
    background-repeat: no-repeat;
    /* background-position: center 30%; */
    /* position: relative; */
}


.crystal::before{
    content: '';
    /* background-color: #FFB800; */
    display: block;
    width: 50%;
    /* padding-top: 50%; */
    border-radius: 100vw;
    box-shadow: 0px 0px 12.5rem rgba(255, 255, 255, 0.6);
    /* position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 6%; */
    /* margin: -27.938rem auto 0; */
    /* margin: calc(-100vh + 70%) auto 0; */
    animation: blink 1.5s infinite alternate ease-in-out;
}
.btn-start{
    width: 100%;
    max-width: 26.875rem;
    padding: 1.250rem 0;
    /* margin-top: 28rem; */
    font-size: 2.25rem;
    font-weight: 700;
}
/* main end */

.question{ 
    text-align: center;
    font-size: 1.25rem;
}
.question .progress{
    width: 100%;
    height: 0.313em;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 3rem;
}
.question .progress span{
    float: left;
    border-radius: 5px;
    height: 100%;
    width: calc(100/12*1%);
    background-color: var(--mainColor);
}

.question .title-question{
    line-height: 1.5;
    margin: 4.063rem 0;
}
.question .btn-answer{
    width: 100%;
    padding: 1.250rem 0;
    margin-bottom: 0.625rem;
}
/* question end */
.result{
    text-align: center;
    font-size: 1.25rem;
}
.result section{
    margin-bottom: 4.375rem;
}

.mbti .img-mbti{
    margin: 2.188rem 0;
}
.mbti .title-mbti{
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
    font-weight: 700;
    color: var(--mainColor);
}
.mbti .sub-title-mbti{
    margin-bottom: 2.188rem;
    font-size: 2.25rem;
}
.mbti .txt-mbti{
line-height: 1.5;
}

/* result end */